<div class="row">
<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> List Of All Available Calls</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Issuer/Producer
              </th>
              <th >
                Target/Consumer
              </th>
              <th>
                Type
              </th>
              <th>
                Topic
              </th>
              <th>
                Event Produced
              </th>
              <th>
                API
              </th>
              <th>
                Description
              </th>
              <th></th>
              
              
            </thead>
            <tbody>
              <tr *ngFor="let call of calls">
                <td *ngIf="call.issuer;else noIssuer" >
                  {{call.issuer}}
                </td>
               
                <td *ngIf="call.target;else noTarget" style="padding-left: 10px;">
                  {{call.target}}
                </td>
                
                <td *ngIf="call.type;else noType">
                  {{call.type}}
                </td>
                
                <td *ngIf="call.topic;else noTopic">
                    {{call.topic}}
                </td>
                <td *ngIf="call.eventProduced;else noEventProduced">
                    {{call.eventProduced}}
                </td>
                <td *ngIf="call.api;else noApi">
                    {{call.api}}
                </td>
                <td *ngIf="call.description;else noDescription">
                    {{call.description}}
                </td>
                <td>
                    <i class="nc-icon nc-basket" (click)=" deleteModel(call.id)" style="color: red;"></i>
                </td>
                <ng-template  #noIssuer #noTarget #noType #noTopic #noEventProduced #noApi #noDescription>
                    <td style="font-size:25px ;">
                      -
                    </td>
                  </ng-template>
                
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="id01" class="modal">
   
    <form class="modal-content" action="/action_page.php">
      <div class="container">
        <h1>Delete Call</h1>
        <p>Are you sure you want to delete your This Call</p>
      
        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <button type="button" (click)="deleteCall()" class="deletebtn">Delete</button>
        </div>
      </div>
    </form>
  </div>